{% extends "base.jinja2" %}


{% block head %}

    <title>Title</title>

{% endblock %}


{% block content %}

    <h1>Hi, {{ current_user.full_name }}!</h1>
    {#    {% for post in posts %}#}
    {#        <div><p>{{ post.author.username }} says: <b>{{ post.body }}</b></p></div>#}
    {#    {% endfor %}#}


    <form action="" method="post">
        {{ postform.hidden_tag() }}
        <p>
            {{ postform.post.label }}<br>
            {{ postform.post(cols=32, rows=4) }}<br>
            {% for error in postform.post.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ postform.submit() }}</p>
    </form>


    {% for post in posts %}
        <img src="{{ post.show_pic(post.json().author, 24) }}">
        {{ post.show_name(post.json().author) }}
        <br>
        {{ post.time }}
        <br>
        {#            {{ post.json().author }}#}
        {{ post.json().message }}
        <br>
        {#        <span >{{ post.json().time }}</span>#}

        <a href="{{ url_for("delete_post", id=post._id) }}"><button>Delete</button></a>

        <form action="" method="post">
            {{ commentform.hidden_tag() }}
            <p>

                {{ commentform.post_id.label }}<br>
                {{ commentform.post_id }}<br>
                {{ commentform.comment.label }}<br>
                {{ commentform.comment(cols=32, rows=4) }}<br>
                {% for error in commentform.comment.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>{{ commentform.submit() }}</p>
        </form>



        <br>
        {% if post.json().comments %}
            COMMENTS:
            {% for comment in post.json().comments %}
                <li>
                    {{ comment.author }}:
                    {{ comment.message }}
                    <br>
                    {{ comment.time }}
                </li>
            {% endfor %}

        {% endif %}
        <hr>


    {% endfor %}


{% endblock %}

