{% extends "base.jinja2" %}


{% block head %}

    <title>Title</title>

{% endblock %}


{% block content %}

    <h1>Hi, {{ current_user.full_name }}!</h1>
    {#    {% for post in posts %}#}
    {#        <div><p>{{ post.author.username }} says: <b>{{ post.body }}</b></p></div>#}
    {#    {% endfor %}#}


    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.post.label }}<br>
            {{ form.post(cols=32, rows=4) }}<br>
            {% for error in form.post.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>


    {% for post in posts %}

            {{ post.id_to_name(post.json().author) }}
        <br>
{#            {{ post.json().author }}#}
            {{ post.json().message }}
        <br>
            {{ post.json().time }}



            {% if post.json().comments %}
                COMMENTS:
                {% for comment in post.json().comments %}
                    <li>{{ comment }}</li>
                {% endfor %}

            {% endif %}
        <hr>

    {% endfor %}


{% endblock %}